<template>
  <div v-bind:class="{containerweb: !mobile }" style="text-align: center">
    <b-navbar toggleable="lg" type="dark" variant="info" style="border-bottom-left-radius: 25px; border-bottom-right-radius: 25px;">
      <b-navbar-brand href="#">RPC Endpoints</b-navbar-brand>
    </b-navbar>

    <div class="row mrgn" style="text-align: center">
      <div class="col-lg-4"></div>
      <div class="col-lg-4"><img src="./../assets/logo.png" height="60px" alt="Logo"></div>
      <div class="col-lg-4"></div>
    </div>


    <div class="row mrgn" style="text-align: center">
       <div class="col-12">
           <h4 style="margin-top:25px">Mainnet</h4>
           <p><a href="https://rpcproxy.tulip.tools/mainnet/chains/main/blocks/head">https://rpcproxy.tulip.tools/mainnet</a></p>
       </div>
    </div>

      <div class="row mrgn" style="text-align: center">
          <div class="col-12">
              <h4 style="margin-top:25px">Edonet</h4>
              <p><a href="https://rpcproxy.tulip.tools/edonet/chains/main/blocks/head">https://rpcproxy.tulip.tools/edonet</a></p>
          </div>
      </div>

      <div class="row mrgn" style="text-align: center">
          <div class="col-12">
              <h4 style="margin-top:25px">Delphinet</h4>
              <p><a href="https://rpcproxy.tulip.tools/delphinet/chains/main/blocks/head">https://rpcproxy.tulip.tools/delphinet</a></p>
          </div>
      </div>



    <h4 style="margin-top:55px">Allowed Methods</h4>

    <h5 style="margin-top:25px">Whitelist</h5>
    <p>/chains/main/blocks(.*?)</p>

    <h5 style="margin-top:25px">Blacklist</h5>

    <p>"(.*?)context/contracts$"</p>
    <p>"/monitor(.*?)"</p>
    <p>"/network(.*?)"</p>


  </div>
</template>

<script>
// @ is an alias to /src
import { isMobile } from 'mobile-device-detect';


export default {

  name: 'home',
  data(){
    return {
      mobile: isMobile,
      showtezos: false,
      stats: [

      ],
      servers: [

      ]
    }
  },
  mounted(){
      this.$http
            .get('http://statusapi.tulip.tools/services')
            .then(response => (this.stats = response.data))

    this.$http
            .get('http://statusapi.tulip.tools/servers')
            .then(response => (this.servers = response.data))
  },
  components: {

  }
}
</script>


<style>


  .containerweb {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


  .webmargn {
    padding: 50px;
  }

  .mobmargn {
    padding: 50px;
  }

  .mrgn {
    margin-top: 30px;
  }

  table {
    table-layout: fixed ;
    width: 100% ;
    text-align: left;
  }
  td {
    padding-top: 5px;
    border-bottom: 1px solid #dedede;
  }
  th {
    padding-bottom: 15px;
  }

  .running {
    display: block;
    text-align: center;
    color: black;
    border: 2px solid #12daa7;
    border-radius: 15px;
    margin: 8px;
    color: #10926d;
  }


</style>
